@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "raleway", sans-serif;
    background-color: #0C0C0D;
    font-style: normal;
    height: 100vh;
}

/* Header */
.back-icon{ 
    color: #fff;
    margin-top: 58px;
    margin-left: 60px;
    font-family: "nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.back-link{
    color: #fff;
    text-decoration: none;
}


.navbar-container{
    width: 100%;
    display: flex;
    font-family: "raleway", sans-serif;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    margin-top: 30px;
    gap: 42px;
}

.nav-link-icon{
    display: flex;
    align-items: center;
    gap: 42px;
    width: auto;
    background-color: rgba(33, 31, 35, 0.349);
    backdrop-filter: blur(30px);
    color: #B292FF;
    padding: 22.5px 12px 23.5px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
}

.nav-link{
    display: flex;
    gap: 42px;
    
}

.nav-anchor{
    text-decoration: none;
    color: #B292FF;
}

.nav-anchor:hover{
    color: white;
}

.nav-anchor:active{
    color: white;
}
.icons{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    list-style: none;
}

/* Hero section */

.intro-text-button-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 244px;
    align-items: center;
    text-align: center;
}

.intro-text-button{
    display: flex;
    width: auto;
}

.whole-experience{
    margin-bottom: 43px;
    color: #C8C8C8;
    line-height: 38px;
    font-family: "nunito", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

b{
    font-weight: 600;
    color: #fff; 
}

.download-cv-experience{
    padding: 12px 40px;
    border-radius: 50px;
    border: none;
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    z-index: -1;
    transition: background-color 1.5s ease-in-out, color 0.6s ease-in-out;
}

.download-cv-experience:hover{
    cursor: pointer;
    transform: translateY(-1px);
    color: #fff;
    background-color: #B292FF;
}

/* Section 2 */
.experience-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 570px;
    
}

.experience-box{
    display: flex;
    justify-content: center;
    width: 95%;
    background-color: #131313;
    border-radius: 80px;
    padding: 10px;
    margin-top: 45px; 
    margin-bottom: 45px;
}

.job-details{
    width: auto;
    gap: 80px;
    display: flex;
    margin-top: 45px;
    margin-bottom: 45px;    
}

.job-description{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-left: 25px;
    color: white;
    font-family: "raleway", sans-serif;
}

.fse{
    width: 345px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 12px;
}
.job-type{
    font-size: 22px;
    font-weight: 400;
    color: #B292FF;
    padding-bottom: 16px;
}

.year-location{
    font-size: 16px;
    font-weight: 300;
    color: #6f6f6f;
    line-height: 18.78px;
}
.ellipse{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color:  #5FB9B0;
    border-radius: 100px;
    justify-content: center;
}

.company-name{
    font-size: 22px;
    font-weight: 600;
    color: #B292FF;
    padding-bottom: 32px;
}

.roles{
    font-size: 18px;
    font-weight: 400;
    color:#6F6F6F; 
}

/* footer */

.footer-container{
    width: 100%;
    margin-top: 235px;
    display:  flex;
    justify-content: center;
}

.footer-text-svg{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    padding: 20px 30px;
    border-radius: 50px;
    align-items: center;

}

.footer-text{
    color: #6f6f6f;
    font-family: "Nunito", sans-serif;
}

.copyright{
    font-size: 16px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    color: #fff;
    padding-left: 155px;
    padding-top: 28px;
    padding-bottom: 100px;
}

/* Responsive design starts here */

@media (max-width: 1024px){
    /* Header */
    .back-icon{   
        margin-top: 58px;
    }

    /* Main Section */
    .experience-box{
        width: 95%;
        border-radius: 60px;
    }

    .job-details{
        gap: 5px;    
    }

    .fse{
        width: 290px;
        font-size: 20px;
    }
    .job-type{
        font-size: 20px;
    }
    
    .year-location{
        font-size: 14px;
        line-height: 16px;
    }
    
    .company-name{
        font-size: 20px;
    }
    
    .roles{
        font-size: 16px; 
    }
    

    /* Footer */
    .copyright{
        font-size: 10px;
        padding-left: 130px;
    }
}

@media (max-width: 768px) {

    /* Header */
    .nav-link-icon{
        width: auto;
    }

    .nav-link{
        gap: 40px;
        font-size: 18px ;   
    }

    .back-icon{ 
        margin-top: 53px;
    } 

    .icons{
        display: none;
    }

    /* Section 2 */

    .experience-box{
        width: 90%;
        border-radius: 40px;
    }

    .job-details{
        gap: 40px;
        flex-direction: column;   
    }

    .fse{
        padding-bottom: 10px;
    }
    
    .job-type{
        padding-bottom: 5px;
    }

    .company-name{
        padding-bottom: 12px;
    }

    /* Footer */

    .footer-text-svg{
        padding: 5px 20px;
    }

    .copyright{
        padding-left: 98px;
    }
}


@media (max-width: 430px){

    /* Header */
    .back-link{
        display: none;
    }
    .fa-angle-left{
        display: none;
    }

    .nav-link{
        gap: 30px;
        font-size: 16px ;   
    }

    /* Hero Section */
    .whole-experience{
        line-height: 20px;
        font-size: 16px;
        font-weight: 300;
    }

    .download-cv-experience{
        font-size: 14px;
    }

    /* Section 2 */
    .experience-box{
        width: 85%;
        border-radius: 30px;
    }

    .fse{
        width: 290px;
        font-size: 18px;
    }
    .job-type{
        font-size: 18px;
    }
    
    .year-location{
        font-size: 12px;
        line-height: 12px;
    }
    
    .company-name{
        font-size: 18px;
    }
    
    .roles{
        font-size: 14px; 
    }

    /* Footer */
    .copyright{
        padding-left: 65px;
    }
}


@media (max-width: 425px){
    /* Header */
    .nav-link{  
        gap: 20px;
        font-size: 15px;   
    }

    /* Hero Section */
    .download-cv-experience{
        font-size: 12px;
    }
}

@media (max-width: 400px){
    /* Footer */
    .copyright{
        padding-left: 63px;
    }
}

@media (max-width: 375px) {
    /* Hero Section */
    .download-cv-experience{
        font-size: 12px;
    }
}
 
@media (max-width: 350){
     /* Hero Section */
     .whole-experience{
        font-size: 13px;
    }

    .download-cv-experience{
        font-size: 11px;
    }

    /*Section 2*/

    .experience-box{
        width: 80%;
    }

    .job-description{
        padding-left: 90px;
    }
    .fse{
        width: 290px;
        font-size: 15px;
    }
    .job-type{
        font-size: 15px;
    }
    
    .year-location{
        font-size: 11px;
        line-height: 12px;
    }
    
    .company-name{
        font-size: 15px;
    }
    
    .roles{
        width: 200px;
        font-size: 13px; 
    }
}

@media (max-width: 320px) {

    /* Header */
    .nav-link{
        gap: 20px;
        font-size: 12px;   
    }

    /* Hero Section */

    .job-description{
        padding-left: 35px;
    }
    .fse{
        width: 290px;
        font-size: 14px;
    }
    .job-type{
        font-size: 14px;
    }
    
    .year-location{
        font-size: 10px;
        line-height: 12px;
    }
    
    .company-name{
        font-size: 14px;
    }
    
    .roles{
        width: 200px;
        font-size: 12px; 
    }

    .copyright{
        padding-left: 55px;
    }
}