<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/tobi.css" />
    <title>Portfolio Website</title>
  </head>
  <body>
    <!-- header -->
    <header class="navbar-container">
      <div id="nav-link-icon">
        <div class="nav-link">
          <a class="nav-anchor" href="./views/tobi.html">tobiobaremo</a>
          <a class="nav-anchor" href="./views/education.html">education</a>
          <a class="nav-anchor" href="./views/experience.html">experience</a>
        </div>
  
        <div class="icons">
          <i class="fa fa-github" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
      </div>
      
    </header>
  </body>
</html>
